<div
  class="backdrop"
  [ngClass]="{ 'd-none': !isOpen }"
  (click)="onClose()"
></div>
<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  aria-labelledby="loginModalLabel"
  aria-modal="true"
  role="dialog"
  [ngClass]="{ 'show d-block': isOpen }"
>
  <div class="modal-dialog d-flex justify-content-center">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h1 class="modal-title fs-5" id="loginModalLabel"></h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="onClose()"
        ></button>
      </div>
      <div class="modal-body mx-5">
        <h5 class="fw-bold mb-3">Log In</h5>
        <p class="fs-c-13 mb-5">
          By continuing, you agree are setting up a Social News account and
          agree to our
          <a target="_blank" href="#">User Agreement</a>
          and
          <a target="_blank" href="#">Privacy Policy</a>.
        </p>
        <div class="input-group input-group-sm mb-3">
          <input
            type="text"
            class="form-control bg-light fw-bold text-secondary rounded-pill py-2 px-3 border-0"
            aria-label="usernameInput"
            placeholder="Username"
          />
        </div>
        <div class="input-group input-group-sm mb-3">
          <input
            type="password"
            class="form-control bg-light fw-bold text-secondary rounded-pill py-2 px-3 border-0"
            aria-label="passwordInput"
            placeholder="Password"
          />
        </div>
        <p class="fs-c-13 mb-3">
          Forget your
          <a target="_blank" href="#">username</a>
          or
          <a target="_blank" href="#">password</a>?
        </p>
        <button
          type="button"
          class="btn btn-primary btn-sm rounded-pill w-100 fw-bold mb-3 py-2"
          (click)="logIn()"
        >
          Log In
        </button>
        <p class="fs-c-13 mb-3">
          New to Social News?
          <a target="_blank" href="#">Sign Up</a>
        </p>
      </div>
      <div class="modal-footer border-top-0"></div>
    </div>
  </div>
</div>
