<div class="px-4 py-2">
  <small class="text-uppercase fs-c-11 font-monospace text-secondary fw-light"
    >Feeds</small
  >
</div>
<a class="text-decoration-none text-dark fs-c-15 cursor-pointer">
  <div class="m-0 w-100 px-4 py-2 side-btn align-middle">
    <i class="bi bi-arrow-up-right-circle-fill fs-6 me-2"></i>Popular
  </div>
</a>
<div class="px-4 py-2">
  <small class="text-uppercase fs-c-11 font-monospace text-secondary fw-light"
    >Topics</small
  >
</div>
<app-collapsible
  *ngFor="let topic of topicList"
  [topic]="topic"
></app-collapsible>
<div class="position-fixed bottom-0 col-xl-2 d-none d-xl-block w-c-270">
  <div class="border-top my-3 mx-4 pt-3">
    <small
      >Create an account to follow your favorite communities and start taking
      part in conversations.</small
    >
  </div>
  <div class="px-3 py-2 align-middle mb-4">
    <button
      type="button"
      class="btn btn-primary rounded-pill px-2 w-100"
      (click)="openModal()"
    >
      <small class="fw-bold text-break">Join Social News</small>
    </button>
  </div>
</div>
