<div
  class="shadow-sm p-2 bg-body d-flex justify-content-between align-items-center"
>
  <a class="navbar-brand" href="#">
    <img
      src="/assets/img/logo.svg"
      alt="Logo"
      width="30"
      height="24"
      class="ms-2 d-inline-block align-middle"
    />
  </a>
  <div class="input-group mx-4 mw-50">
    <input
      type="text"
      class="form-control shadow-none bg-light rounded-pill"
      placeholder="Search Social News"
      aria-label="Search Social News"
      aria-describedby="main-top-search"
    />
  </div>
  <div class="me-2 d-flex flex-row">
    <button type="button" class="btn btn-primary rounded-pill px-5 me-3">
      Log In
    </button>
    <div class="dropdown">
      <a
        class="btn dropdown-toggle border"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        appDropdown
        #r="appDropDown"
      >
        <i class="bi-person"></i>
      </a>
      <div
        [ngClass]="{ show: r.isOpen }"
        class="dropdown-menu dropdown-end"
        aria-labelledby="dropdownMenuButton"
      >
        <a class="dropdown-item cursor-pointer"
          ><i class="bi-question-circle pe-2"></i> Help Center</a
        >
        <a class="dropdown-item cursor-pointer"
          ><i class="bi-info-circle pe-2"></i>More</a
        >
        <hr class="dropdown-divider" />
        <a class="dropdown-item cursor-pointer fw-semibold"
          ><i class="bi-box-arrow-in-right pe-2"></i> Log In / Sign Up</a
        >
      </div>
    </div>
  </div>
</div>
