.mw-50 {
  max-width: 50%;
}

.input-group:focus-within * {
  background-color: white !important;
}

.form-control:hover {
  background-color: white !important;
}

.cursor-pointer {
  cursor: pointer;
}

.dropdown-end {
  transform: translate(-115px, 2px);
}
