<div class="card mt-3 cursor-pointer">
  <div class="card-body p-0 rounded d-flex">
    <div
      class="bg-light rounded count-column d-flex flex-column justify-content-start align-items-center pt-2"
    >
      <i class="bi-chevron-up c-caret rounded"></i>
      <span class="fw-bold fs-c-13">4.0k</span>
      <i class="bi-chevron-down c-caret rounded"></i>
    </div>
    <div class="w-100 d-flex flex-column p-2 pb-1">
      <div class="w-100 d-flex align-items-center fs-c-13">
        <i class="bi-reddit text-secondary fs-6"></i>
        <small class="fw-bold px-2">r/AskSocialNews</small>
        <span class="text-secondary">• Posted by u/someuser 11 hours ago</span>
      </div>
      <p class="w-100 fw-semibold m-0 fs-c-17 pt-1 pb-3">
        What celebrity can you simply not stand, even if everyone else likes
        them?
      </p>
      <div class="w-100">
        <button
          type="button"
          class="btn btn-outline-secondary border-0 fw-bold rounded btn-c-grey float-start p-1 d-flex align-items-center me-2"
        >
          <i class="bi-chat-left fw-bold fs-5"></i>
          <span class="ps-1 fs-c-13">7.6k Comments</span>
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary border-0 fw-bold rounded btn-c-grey float-start p-1 d-flex align-items-center me-2"
        >
          <i class="bi-arrow-90deg-right fw-bold fs-5"></i>
          <span class="ps-1 fs-c-13">Share</span>
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary border-0 fw-bold rounded btn-c-grey float-start p-1 d-flex align-items-center me-2"
        >
          <i class="bi-bookmark fw-bold fs-5"></i>
          <span class="ps-1 fs-c-13">Save</span>
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary border-0 fw-bold rounded btn-c-grey float-start p-1 d-flex align-items-center"
        >
          <i class="bi-three-dots fw-bold fs-5"></i>
        </button>
      </div>
    </div>
  </div>
</div>
