<div class="row m-0 pt-3 px-5">
  <p class="fw-bold fs-c-14 p-0">Trending today</p>
</div>
<div
  class="d-flex flex-wrap overflow-hidden justify-content-between m-0 px-5 gap-3"
>
  <div
    class="card text-bg-dark mw-c-375 p-0 border-0 flex-fill trending-card-{{
      card.id
    }}"
    *ngFor="let card of cardList"
  >
    <img
      src="/assets/img/trending-{{ card.id }}.png"
      class="card-img c-img-card"
      alt="trending-card"
    />
    <div
      class="card-img-overlay d-flex align-items-start flex-column-reverse px-3 pb-0 background-custom-linear-gradient"
    >
      <p class="card-text fs-c-14">
        <small>/r {{ card.community }}</small>
      </p>
      <p class="card-text fs-c-14 mb-1">
        {{ card.description }}
      </p>
      <h5 class="card-title fw-bold shadow-lg mb-1">{{ card.title }}</h5>
    </div>
  </div>
</div>
