.d-contents {
  display: contents;
}

.cursor-pointer {
  cursor: pointer;
  user-select: none;
}

.side-btn:hover {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}
